.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  background-image: linear-gradient(to right, #9bdae6, #5cbacc);
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__list .nav__btn .nav__link {
  color: var(--white-color);
}

.nav__list .nav__btn {
  position: relative;
}
